<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <header>
        <h2>{{ page_title }}</h2>
    </header>
    <section>
        {{ page_content }}
    </section>
    <footer>
        {{ page_content }}
    </footer>
</body>
</html>